@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
  }
}

@layer utilities {
  @keyframes float {
    0% {
      transform: translateY(0) translateX(0);
      opacity: 0.2;
    }
    50% {
      transform: translateY(-50vh) translateX(20px);
      opacity: 0.6;
    }
    100% {
      transform: translateY(-100vh) translateX(-20px);
      opacity: 0;
    }
  }

  .animate-float {
    animation: float linear infinite;
  }

  @keyframes moveRightToLeft {
    0% {
      transform: translateX(100vw) translateY(0);
    }
    100% {
      transform: translateX(-500px) translateY(0);
    }
  }

  @keyframes moveLeftToRight {
    0% {
      transform: translateX(-500px) translateY(0);
    }
    100% {
      transform: translateX(100vw) translateY(0);
    }
  }

  .animate-move-left {
    animation: moveRightToLeft linear infinite;
  }

  .animate-move-right {
    animation: moveLeftToRight linear infinite;
  }
}
